<div class="grid justify-content-center card">
  <div class="col-10 md:col-6 lg:col-4 sm:flex-nowrap">
    <p-card>
      <div class="grid">
        <div class="col-12">
          <div class="col-12 text-center">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="directions_car"
              class="icon-display"
            ></mat-icon>

            <!-- TESTE CENTER CLASS CRIADA STYLES PRINCIPAL -->
            <h2>Car Sales</h2>
          </div>
          <label>Usuário:</label>
          <input
            [(ngModel)]="requestLogin.login"
            type="text"
            pInputText
            class="col-12"
          />
        </div>
        <div class="col-12">
          <label>Senha:</label>
          <input
            [(ngModel)]="requestLogin.password"
            type="password"
            pInputText
            class="col-12"
          />
        </div>
        <div class="col-12">
          <button
            (click)="doLogin()"
            pButton
            type="button"
            label="Entrar"
            class="col-12"
          ></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
